.hero {
    background-image: url(../images/hero.jpg);
    background-size: cover;
    animation: slidein 100s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  
  .hero-content {
    position: relative;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    color: #fff;
  }
  
  .hero .overlay {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .hero .search {
    max-width: 500px;
    width: 100%;
  }