$font-family: Roboto, Helvetica, Arial, sans-serif;
$base-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
$base-transition: 0.3s ease-in-out;
$round-border-radius: 50px;
$primary-color: rgb(245, 151, 0);

$tablet-sm: "576px";
$tablet: "769px";
$laptop: "960px";
$desktop: "1200px";