@forward "variables";

@keyframes slidein {
    from {
      background-position: top;
      background-size: 3000px;
    }
    to {
      background-position: -100px 0px;
      background-size: 2750px;
    }
  }

  @keyframes loading-placeholder {
    0% {
      opacity: 0.1;
    }
  
    50% {
      opacity: 0.2;
    }
  
    100% {
      opacity: 0.1;
    }
  }
  
  @keyframes loading-placeholder-high-opacity {
    0% {
      opacity: 0.7;
    }
  
    50% {
      opacity: 0.9;
    }
  
    100% {
      opacity: 0.7;
    }
  }